<% include partials/_header%>

<div class="col-md-5">
  <div class="card">
    <div class="card-body">
      <form action="/edit/<%=task._id%>" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Insterte un titulo"
            value="<%=task.title%>"
          />
        </div>
        <div class="form-group">
          <textarea
            name="description"
            cols="80"
            class="form-control"
            placeholder="Ingrese una descripcion "
          >
<%=task.description%></textarea
          >
          <button type="submit" class="btn btn-primary btn-block mt-3">
            modificar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include partials/_footer%>
