<% include partials/_header%>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="POST">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="title"
                placeholder="Insterte un titulo"
              />
            </div>
            <div class="form-group">
              <textarea
                name="description"
                cols="80"
                class="form-control"
                placeholder="Ingrese una descripcion "
              ></textarea>
              <button type="submit" class="btn btn-primary btn-block mt-3">
                add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- list -->
    <div class="col-md-7">
      <table class="table table-borderer table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Title</th>
            <th>description</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% task.map((x,i)=>{ %>
          <tr>
            <td><%=i + 1%></td>
            <td><%=x.title%></td>
            <td><%=x.description%></td>
            <td>
              <a
                href="/turn/<%=x._id%>"
                class="btn <%= x.status ? 'btn-success' : 'btn-dark' %>"
                >done</a
              >
              <a href="/edit/<%=x._id%>" class="btn btn-info">update</a>
              <a href="/delete/<%=x._id%>" class="btn btn-danger">delete</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/_footer%>
